In [1]:
##선형 연립 방정식과 그 풀이

# import numpy as np #numpy 모듈을 np로 불러오기 
# A = np.array([[5, 2], [3, 1]])
# inv_A = np.linalg.inv(A) #A의 역행렬을 구해서 inv_A에 저장
# b = np.array([3, 2])

# x = np.matmul(inv_A, b) #inv_A와 b의 곱 (순서에 주의. 교환 법칙 성립 X)
# print(x)  #array([1., -1.])

In [2]:
## 선형 최적화 예시 1
# from scipy.optimize import linprog # linprog 함수 import

# # 최적화 문제를 행렬로 표현
# c = [5000, 7000]
# A = [[-0.2, -0.4],  
#      [-0.3, -0.1],  
#      [0.0, -0.3],  
#      [-1, 0],      
#      [0, -1]]      

# b = [-30, -30, -20, 0, 0]

# # 행렬로 표현한 최적화 문제의 해 구하기
# res = linprog(c, A_ub=A, b_ub=b)
# print(res)

In [3]:
## 선형최적화 예시 2
# from scipy.optimize import linprog

# c = [12, 18]
# A = [[100, 150], 
#      [1, 0],  
#      [-1, 0], #lower bound -> upper bound
#      [0, 1],      
#      [0, -1]] #lower bound -> upper bound    

# b = [100000, 800, 0, 500, 0]

# res = linprog(c, A_ub=A, b_ub=b)
# print(res)

In [2]:
## 데이터통합 - 기본
import pandas as pd
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'], 'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.merge(df1, df2)

df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [3]:
## 데이터통합 - left_on & right_on 키워드의 사용
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'salary': [70000, 80000, 120000, 90000]})
pd.merge(df1, df3, left_on = "employee", right_on = "name")

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [4]:
## 데이터 불러오기 & 통합 실습
import os
import pandas as pd

# 파일 경로 설정
#os.chdir("원하는 디렉토리로 이동") 

# 파일 불러오기 (pd.read_csv(filename, enigne = "python"))
df1 = pd.read_csv("대출연체예측_대출연체여부.csv", engine = "python")
df2 = pd.read_csv("대출연체예측_기존대출정보.csv", engine = "python")
df3 = pd.read_csv("대출연체예측_인구통계정보.csv", engine = "python")

# df1과 df2를 id 컬럼을 기준으로 통합 (merged_df)
# To do
#pd.merge(df1,df2, left_on = "id")

# merged_df와 df3를 id 컬럼을 기준으로 통합하여, merged_df를 업데이트함 (한 번에 세 개 통합은 불가)
# To do
# merged_df의 맨 위 10개 레코드를 확인
# To do
# 정상적으로 통합되었으면, merged_df를 "대출연체예측_통합데이터.csv"로 저장. 
# To do
# encoding = "cp949": 파일의 인코딩을 cp949로 저장. index = False: index값은 저장하지 않음 (index = True랑 비교해보기)
# To do <= Index=True와 비교
# 한글이 포함된 경우 encoding을 cp949로, 그렇지 않으면 utf8로 해주는 것이 좋음

In [7]:
# df1과 df2를 id 컬럼을 기준으로 통합 (merged_df)
# To do
merged_df = pd.merge(df1,df2, on = "id")

In [19]:
df1.shape

(9068, 54)

In [17]:
sum(df1['id'] == df2['id'])

9068

In [25]:
df1

,id,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,...,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX
0,1,0,1,0,0,0,9001,9001,9001,0,...,7000000,7000000,0,0,0,200000,2,1,60.0,1.0
1,2,0,0,0,1,1,18001,18001,0,0,...,30000000,34000000,1,0,0,7600000,4,6,50.0,2.0
2,3,0,2,0,0,0,177001,177001,177001,0,...,3000000,11000000,0,0,0,400000,2,2,50.0,1.0
3,4,0,1,0,0,0,18001,18001,18001,0,...,12000000,22000000,0,0,0,21700000,0,3,55.0,1.0
4,5,0,1,0,0,0,9001,9001,9001,0,...,15000000,20000000,0,0,0,700000,3,2,40.0,1.0
5,6,0,0,0,1,1,27001,27001,0,0,...,50000000,80000000,0,0,0,400000,6,4,50.0,2.0
6,7,0,2,0,0,0,69001,45001,69001,0,...,4000000,13000000,0,0,0,0,0,2,40.0,2.0
7,8,0,1,0,0,0,147001,0,147001,0,...,7000000,7000000,0,0,12,0,0,0,40.0,2.0
8,9,0,1,1,2,1,117001,36001,78001,18001,...,6000000,6000000,0,0,0,200000,2,0,55.0,1.0
9,10,0,1,0,0,0,594001,594001,594001,0,...,159000000,159000000,3,0,0,0,0,1,60.0,2.0
10,11,0,1,0,0,0,159001,0,159001,0,...,13000000,13000000,0,0,11,500000,2,1,40.0,1.0
11,12,0,2,0,0,0,171001,60001,171001,0,...,12000000,23000000,0,0,0,7700000,4,0,40.0,2.0
12,13,0,0,1,3,2,21001,21001,0,1,...,6000000,31000000,0,0,0,10300000,42,0,30.0,2.0
13,14,0,1,1,1,0,9001,9001,1,6001,...,3000000,3000000,1,1,8,0,0,0,30.0,2.0
14,15,0,0,5,7,2,210001,30001,0,60001,...,4000000,4000000,0,0,0,700000,2,1,50.0,2.0
15,16,0,1,0,0,0,3001,3001,3001,0,...,139000000,239000000,1,0,0,9900000,9,0,60.0,2.0
16,17,0,2,0,0,0,219001,39001,219001,0,...,6000000,6000000,0,0,2,0,0,0,50.0,2.0
17,18,0,1,0,0,0,39001,39001,39001,0,...,23000000,23000000,0,0,0,1000000,3,1,45.0,1.0
18,19,0,1,0,0,0,6001,6001,6001,0,...,11000000,11000000,1,0,2,0,0,1,60.0,2.0
19,20,0,0,0,1,1,159001,0,0,0,...,18000000,44000000,1,0,3,0,0,3,55.0,2.0
20,21,0,1,0,0,0,30001,0,30001,0,...,54000000,80000000,0,0,14,13400000,6,5,60.0,2.0
21,22,0,1,0,0,0,48001,48001,48001,0,...,16000000,16000000,0,0,0,200000,1,0,45.0,2.0
22,23,0,2,0,0,0,117001,117001,117001,0,...,30000000,32000000,0,0,0,7500000,16,2,55.0,1.0
23,24,0,1,0,1,1,234001,9001,9001,0,...,4000000,4000000,0,0,0,100000,1,1,55.0,2.0
24,25,0,0,0,1,1,24001,24001,0,0,...,37000000,99000000,0,0,0,0,0,3,50.0,2.0
25,26,0,1,0,0,0,33001,0,33001,0,...,21000000,89000000,0,0,6,19100000,33,4,55.0,1.0
26,27,0,1,0,0,0,30001,30001,30001,0,...,39000000,56000000,0,0,0,1900000,4,1,45.0,1.0
27,28,0,0,2,2,0,6001,0,0,6001,...,31000000,31000000,0,0,0,0,0,1,60.0,2.0
28,29,0,0,1,1,0,1,1,0,1,...,28000000,28000000,0,0,3,400000,2,1,60.0,2.0
29,30,0,1,0,0,0,48001,48001,48001,0,...,119000000,119000000,0,0,0,0,0,1,35.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9038,9039,1,1,0,0,0,1,1,1,0,...,9000000,9000000,0,0,0,400000,1,1,45.0,1.0
9039,9040,1,1,0,0,0,24001,24001,24001,0,...,3000000,3000000,0,0,0,200000,1,0,30.0,1.0
9040,9041,1,0,1,1,0,6001,6001,0,6001,...,21000000,21000000,0,0,0,0,0,1,45.0,2.0
9041,9042,1,1,1,3,2,36001,36001,9001,1,...,12000000,12000000,0,0,2,0,0,0,35.0,2.0
9042,9043,1,2,2,2,0,138001,15001,123001,15001,...,62000000,62000000,0,0,35,6800000,11,2,50.0,2.0
9043,9044,1,0,1,1,0,3001,0,0,3001,...,33000000,48000000,0,0,1,68500000,35,2,55.0,2.0
9044,9045,1,0,1,2,1,9001,9001,0,9001,...,12000000,12000000,0,0,8,1800000,9,1,35.0,1.0
9045,9046,1,2,1,1,0,24001,21001,21001,1,...,7000000,7000000,0,0,0,0,0,1,55.0,1.0
9046,9047,1,0,1,1,0,1,0,0,1,...,1000000,1000000,0,0,3,300000,35,0,60.0,2.0
9047,9048,1,0,1,1,0,1,0,0,1,...,11000000,11000000,0,0,0,0,0,0,45.0,2.0
9048,9049,1,0,2,4,2,144001,99001,0,39001,...,6000000,6000000,0,0,19,300000,2,0,50.0,2.0
9049,9050,1,1,1,1,0,6001,6001,6001,1,...,32000000,32000000,0,0,0,0,0,0,55.0,1.0
9050,9051,1,0,0,1,1,1,1,0,0,...,3000000,3000000,1,0,1,0,0,0,45.0,2.0
9051,9052,1,0,1,3,2,9001,6001,0,1,...,24000000,80000000,0,0,0,1500000,0,3,55.0,2.0
9052,9053,1,5,2,3,1,246001,75001,75001,9001,...,399000000,999000000,0,0,0,0,0,4,40.0,1.0
9053,9054,1,1,3,3,0,18001,18001,9001,9001,...,9000000,9000000,0,0,3,19800000,31,1,55.0,2.0
9054,9055,1,0,0,1,1,1,1,0,0,...,12000000,99000000,0,0,1,18000000,0,1,35.0,1.0
9055,9056,1,1,1,2,1,15001,15001,1,9001,...,39000000,139000000,0,0,0,2300000,8,0,55.0,1.0
9056,9057,1,0,1,1,0,150001,0,0,150001,...,33000000,33000000,0,0,0,0,0,0,35.0,1.0
9057,9058,1,1,1,3,2,33001,30001,3001,9001,...,18000000,18000000,0,0,10,300000,2,0,70.0,2.0
9058,9059,1,1,2,2,0,18001,9001,1,15001,...,17000000,33000000,0,0,0,900000,0,1,65.0,1.0
9059,9060,1,0,0,2,2,3001,3001,0,0,...,14000000,14000000,0,0,0,7400000,13,4,45.0,2.0
9060,9061,1,0,0,1,1,21001,21001,0,0,...,2000000,2000000,0,0,4,0,0,0,50.0,2.0
9061,9062,1,1,0,0,0,1,1,1,0,...,3000000,3000000,0,0,6,0,0,0,40.0,1.0
9062,9063,1,0,1,2,1,306001,0,0,1,...,7000000,7000000,1,1,33,700000,7,1,40.0,2.0
9063,9064,1,0,1,1,0,1,1,0,1,...,2000000,13000000,1,1,7,3300000,0,0,25.0,1.0
9064,9065,1,0,0,2,2,684001,684001,0,0,...,29000000,29000000,0,0,2,1300000,5,0,35.0,1.0
9065,9066,1,0,0,1,2,1,1,0,0,...,6000000,9000000,0,0,2,100000,1,1,45.0,2.0
9066,9067,1,0,0,1,1,9001,9001,0,0,...,14000000,14000000,0,0,1,300000,2,0,25.0,1.0
9067,9068,1,1,0,0,0,9001,9001,9001,0,...,3000000,3000000,0,0,0,0,0,0,35.0,1.0

In [24]:
df1.notnull().sum()

id                   9068
TARGET               9068
BNK_LNIF_CNT         9068
CPT_LNIF_CNT         9068
SPART_LNIF_CNT       9068
ECT_LNIF_CNT         9068
TOT_LNIF_AMT         9068
TOT_CLIF_AMT         9068
BNK_LNIF_AMT         9068
CPT_LNIF_AMT         9068
CRDT_OCCR_MDIF       9068
SPTCT_OCCR_MDIF      9068
CRDT_CARD_CNT        9068
CTCD_OCCR_MDIF       9068
CB_GUIF_CNT          9068
CB_GUIF_AMT          9068
OCCP_NAME_G          8911
CUST_JOB_INCM        9068
HSHD_INFR_INCM       9068
ACTL_FMLY_NUM        9068
CUST_FMLY_NUM        9068
LAST_CHLD_AGE        8974
MATE_OCCP_NAME_G     4771
MATE_JOB_INCM        9068
CRDT_LOAN_CNT        9068
MIN_CNTT_DATE        9068
TOT_CRLN_AMT         9068
TOT_REPY_AMT         9068
CRLN_OVDU_RATE       9068
CRLN_30OVDU_RATE     9068
LT1Y_CLOD_RATE       9068
STRT_CRDT_GRAD       9068
LTST_CRDT_GRAD       9068
PREM_OVDU_RATE       9068
LT1Y_PEOD_RATE       9068
AVG_STLN_RATE        9068
STLN_REMN_AMT        9068
LT1Y_STLN_AMT        9068
LT1Y_SLOD_RATE       9068
GDINS_MON_PREM       9068
SVINS_MON_PREM       9068
FMLY_GDINS_MNPREM    9068
FMLY_SVINS_MNPREM    9068
MAX_MON_PREM         9068
TOT_PREM             9068
FMLY_TOT_PREM        9068
CNTT_LAMT_CNT        9068
LT1Y_CTLT_CNT        9068
AUTR_FAIL_MCNT       9068
FYCM_PAID_AMT        9068
FMLY_CLAM_CNT        9068
FMLY_PLPY_CNT        9068
AGE                  9035
SEX                  9035
dtype: int64

In [8]:
# merged_df와 df3를 id 컬럼을 기준으로 통합하여, merged_df를 업데이트함 (한 번에 세 개 통합은 불가)
# To do
merged_df = pd.merge(df1, df2, on = "id")
merged_df = pd.merge(merged_df, df3, on = "id")

In [12]:
# merged_df의 맨 위 10개 레코드를 확인
# To do
merged_df.head(10)

,id,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,...,TOT_PREM,FMLY_TOT_PREM,CNTT_LAMT_CNT,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX
0,1,0,1,0,0,0,9001,9001,9001,0,...,7000000,7000000,0,0,0,200000,2,1,60.0,1.0
1,2,0,0,0,1,1,18001,18001,0,0,...,30000000,34000000,1,0,0,7600000,4,6,50.0,2.0
2,3,0,2,0,0,0,177001,177001,177001,0,...,3000000,11000000,0,0,0,400000,2,2,50.0,1.0
3,4,0,1,0,0,0,18001,18001,18001,0,...,12000000,22000000,0,0,0,21700000,0,3,55.0,1.0
4,5,0,1,0,0,0,9001,9001,9001,0,...,15000000,20000000,0,0,0,700000,3,2,40.0,1.0
5,6,0,0,0,1,1,27001,27001,0,0,...,50000000,80000000,0,0,0,400000,6,4,50.0,2.0
6,7,0,2,0,0,0,69001,45001,69001,0,...,4000000,13000000,0,0,0,0,0,2,40.0,2.0
7,8,0,1,0,0,0,147001,0,147001,0,...,7000000,7000000,0,0,12,0,0,0,40.0,2.0
8,9,0,1,1,2,1,117001,36001,78001,18001,...,6000000,6000000,0,0,0,200000,2,0,55.0,1.0
9,10,0,1,0,0,0,594001,594001,594001,0,...,159000000,159000000,3,0,0,0,0,1,60.0,2.0

In [15]:
# 정상적으로 통합되었으면, merged_df를 "대출연체예측_통합데이터.csv"로 저장. 
# To do
df1 = pd.DataFrame(merged_df)
df1.to_csv("대출연체에측_통합데이터_not_e.csv", header = False, index = False)

In [14]:
# encoding = "cp949": 파일의 인코딩을 cp949로 저장. index = False: index값은 저장하지 않음 (index = True랑 비교해보기)
# To do <= Index=True와 비교
# 한글이 포함된 경우 encoding을 cp949로, 그렇지 않으면 utf8로 해주는 것이 좋음

df1.to_csv("대출연체에측_통합데이터.csv",encoding = "cp949", header = False, index = False)

In [37]:
## 분류/예측 모델 개발 가이드라인 실습
# 1. 데이터 불러오기 6999
import seaborn as sns
iris = sns.load_dataset('iris') # seaborn에 있는 iris 데이터 가져오기
X_iris = iris.drop('species', axis=1) # species 열을 제거한 데이터 프레임
y_iris = iris['species'] # species 열만 가져옴

# 2. 데이터 분리하기 
from sklearn.model_selection import train_test_split
# To do
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X_iris, y_iris, test_size=0.2, random_state=2019)

# 3. 모델 클래스 선택
from sklearn.naive_bayes import GaussianNB 

# 4. 모델 인스턴스화 
model = GaussianNB() 

# 5. 모델을 데이터에 적합     
# to do  
model.fit(Train_X, Train_Y)

# 6. 새 데이터에 대해 예측
# to do 
predicted = model.predict(Test_X)

# 7. 모델 평가

from sklearn.metrics import accuracy_score 
# to do               
accuracy_score(Test_Y, predicted)

1.0

In [34]:
##k겹 교차 검증 맛보기
import seaborn as sns
iris = sns.load_dataset('iris')
X_iris = iris.drop('species', axis=1)
y_iris = iris['species']

# KNN 모델 인스턴스화
from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier(n_neighbors=1)
model2 = KNeighborsClassifier(n_neighbors=3)


# 5-겹 교차 검증
from sklearn.model_selection import cross_val_score
scores1 = cross_val_score(model1, X_iris, y_iris, cv=5, scoring = 'accuracy')
scores2 = cross_val_score(model2, X_iris, y_iris, cv=5, scoring = 'accuracy')

print(scores1.mean())
print(scores2.mean())

0.96
0.9666666666666668

In [4]:
# to do n_neighbors=3인 KNN 모델에 대해서 4겹 교차검증을 수행하고 그에 대한 정확도를 구해보라

In [41]:
GaussianMixture?

In [53]:
## 비지도 학습 모델 사용 기본 구조
# 1. 모델 클래스 선택
from sklearn.mixture import GaussianMixture 
iris = sns.load_dataset('iris')
X_iris = iris.drop('species', axis=1)
y_iris = iris['species']
# 2. 모델 인스턴스화
model = GaussianMixture (n_components=3, covariance_type='full')  

# 3. 모델을 데이터에 적합
# to do
model.fit(X_iris)

y_gmm = model.predict(X_iris)

In [54]:
y_gmm

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)